<div class="bg-blue-700 h-20 w-full flex justify-start items-center fixed top-0">
  <img routerLink="/" class="h-full p-2.5 " src="https://seeklogo.com/images/S/sri-lanka-cricket-logo-4400B813FF-seeklogo.com.png">

  <div class="flex ml-auto mr-2 h-3/6">
    <button routerLink="/configurationForm" class="text-black bg-yellow-400 border border-white rounded p-1.5 hover:bg-amber-300 hover:text-black mr-2">Set Configuration</button>
    <button class="text-black bg-yellow-400 border border-white rounded p-1.5 hover:bg-amber-300 hover:text-black mr-2">Buy Tickets</button>
    <button routerLink="/login" class="text-white bg-transparent border border-white rounded p-1.5 hover:bg-neutral-50 hover:text-black">Login</button>
  </div>
</div>

