<div class="bg-white/80 text-center py-5 mx-5 rounded-xl mt-28 text-[#002D74]">
  <span class="text-5xl font-bold">Tickets</span>
  <div class="flex mx-auto w-1/2  my-10">
    <span class="text-4xl">Simulation</span>
    <div class="flex ml-auto mr-2 h-fit ">
      <button (click)="startSimulation()" class="text-2xl text-white bg-green-400 border border-white rounded-full p-1.5 mr-2 hover:scale-105 duration-300 px-5">Start</button>
      <button (click)="stopSimulation()" class="text-2xl text-white bg-red-500 border border-white rounded-full p-1.5 hover:scale-105 duration-300 px-5">Stop</button>
    </div>

  </div>
  <div class="grid grid-rows-1 grid-cols-3 gap-4 bg-transparent mt-10">
    <div class="text-center text-xl">
      <h3>Current Ticket Availability in the pool</h3>
      <p>{{ ticketCount }}</p>
    </div>
    <div class="text-center text-xl">
      <h3>Total Tickets to be released</h3>
      <p>{{ ticketsToRelease }}</p>
    </div>
    <div class="text-center text-xl">
      <h3>Total Tickets Sold</h3>
      <p>{{ ticketsSold }}</p>
    </div>
  </div>
  <app-log-display/>
  <div class="mx-auto w-fit flex justify-between mt-20 gap-3">
<!--    <button routerLink="/vendorDetails" class="ml-10 px-2 w-fit mt-4 text-base bg-[#002D74] rounded-xl text-white py-2 hover:scale-105 duration-300">Go back</button>-->
    <button routerLink="/customerDetails" class="ml-10 px-2 w-fit mt-4 text-base bg-[#002D74] rounded-xl text-white py-2 hover:scale-105 duration-300">Go back</button>
    <button routerLink="/" class="mr-10 px-2 w-fit mt-4 text-base bg-[#002D74] rounded-xl text-white py-2 hover:scale-105 duration-300">Home</button>
  </div>


</div>
