<!--<div class="bg-cover bg-center bg-no-repeat bg-fixed h-screen" style="background-image: url('https://t4.ftcdn.net/jpg/09/68/13/75/360_F_968137535_O0ROMsUhBCIGWphShJtAHjJEDUnREvxr.jpg');">-->
<!--&lt;!&ndash;<h1 class="mt-24">SRI LANKA CRICKET</h1>&ndash;&gt;-->



<!--</div>-->


<div class="min-h-screen items-center justify-center bg-cover bg-center bg-no-repeat bg-fixed" style="background-image: url('https://images.unsplash.com/photo-1730739628981-6537b299aea3?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
  <div class="pt-24 ml-4 text-white">
    <h1 class="text-5xl font-bold text-yellow-400">SRI LANKA CRICKET</h1>
    <p class="text-2xl mt-4">Ticketing Platform</p>
    <p class="text-2xl mt-4">More content to scroll.</p>
  </div>
  <!-- login container -->
  <div class="bg-gray-100 rounded-2xl shadow-lg w-full p-5 items-center">
    <h1 class="text-3xl font-bold text-yellow-400">India Tour of Sri Lanka 2025</h1>
    <p class="text-2xl mt-4">Ticketing Platform</p>
    <p class="text-2xl mt-4">More content to scroll.</p>
    <div class="w-full h-fit flex flex-row-reverse">
      <button routerLink="/purchaseTicket" class="text-black bg-yellow-400 border border-white rounded p-1.5 hover:bg-amber-300 hover:text-black mr-2">Buy Tickets</button>
    </div>
  </div>

</div>


